button{
    width: 75px;
    height: 75px;
}


.quality-img{
    width: 60px;
    border-radius: 60px;
}

.singer_pic{
    width: 80px;
    height: 80px;
    border:solid gray 1px;
}

div{
    border: 10px purple solid;
    width: 300px;
    height: 100px;
    text-align: center;
    padding: 5px 0px;
}

.name{
    font: bold;
    font-size: 20px;
    width: 150px;
}
.singer-table td{
    border: solid 1px black;
    text-align: center;
}

.name:hover{
    font: bold;
    background-color: gray;
    color: white;
    font-size: 15px;
    width: 150px;
}